@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
