<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<meta name="author" content="Hirochika Asai, The University of Tokyo." />
<meta name="copyright" content="(C) 2015 Hirochika Asai, The University of Tokyo.  All rights reserved." />
<title>OpenPaaS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

