
<div class="center hero-unit">
  <h1>Welcome to the Open PaaS</h1>

  <h2>
    This is the home page for the Open PaaS application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>


