<script type="text/javascript"><!--
//-->
</script>

</head>

<body>
<h1>OpenPaaS</h1>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<hr>
<small>Use the information provided on this site on your own responsibility.</small>
<address style="font-size:90%;">(C) 2015 Hirochika Asai, The University of Tokyo.  All rights reserved.</address>

