<% provide(:title, 'Update SSH public key') %>

<h1>Update SSH public key</h1>

<div class="row">

  <div class="span6 offset3">

		<%= form_tag(user_keys_path, method: "post") do %>
		<%= label_tag(:key, "Name:") %>
		<%= text_area_tag(:key, @key) %>

		<hr />

    <%= submit_tag("Update", class: "btn btn-large btn-primary") %>
    <% end %>

	</div>
</div>
